body {
    justify-content: normal;
}

nav h1 {
    color: #fff;
}

#etapas {
    font-weight: bold;
    width: 95%;
    height: 5rem;
    margin: 1rem auto;
    background-color: #f7f7f7;
    box-shadow: #71717128 0px 0px 1px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.75rem;
}

.etapa {
    flex: 1;
}

#pecas {
    display: inline-block;
    width: 65vw;
}

#info {
    display: inline-block;
    width: 25vw;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: center;*/
    text-align: center;
}

.search-container {
    float: right;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0.2rem;
    border: 1px solid black
}


input[type=text] {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background-color: #ffffff;
    color: #363636;
    text-align: left;

}

.lupa {
    cursor: pointer;
}

.lupa:hover {
    animation: animate 0.5s;
    transition: 1s;
}

#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#grid {
    overflow-y: scroll;
}

#lista {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container_botoes {
    flex: 4;
    cursor: default;
}

.container_botoes:hover {
    cursor: default;
}

.anuncio_lista {
    width: 90%;
    height: 11rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.img_anunc_lista {
    margin: 0 0.5rem;
    flex: 3;
}

.titulo_anunc_lista {
    flex: 5;
}

.preco_lista {
    flex: 3;
}

.btn_selecionar {
    border-radius: 0.3rem;
    height: 3rem;
    width: 4rem;
    margin: 0 1rem;
    border: 0;
    cursor: pointer;
    transition: 0.25s;
    display: inline-block;
}

.btn_retirar {
    background-color: #ff0000;
    opacity: 0;
}

.btn_retirar:hover {
    background-color: #ff3737;
    transform: scale(1.05);
}

.btn_adicionar {
    background-color: #00d200;
}

.btn_adicionar:hover {
    background-color: #41de41;
    transform: scale(1.05);
}

.icone {
    height: 1rem;
}

.disabled{
    background-color: #727272;
    cursor: default;
}

.disabled:hover {
    background-color: #727272;
    transform: scale(1);
}